html {
    background-color: black;
}

button {
    background-color: black;
    border: solid;
    border-color: white;
    color: white;
    padding: 50px 50px;
    margin: 100px 300px;
    text-align: center;
    font-size: 30px;
}